@font-face {
  font-family: director;
  src: url(fonts/director.otf);}
body {background-color:ivory;  margin: 0 auto; text-align: center; font-family: "Times New Roman", Times, serif;}
div {padding: 0.4em;}
.o {display: flex; justify-content: center;}
img {width: 150px;}

@media screen and (max-width: 600px) {.o {display: block;}
}
